body {
  transition-property: background-color;
  transition-duration: 3s;
  /* background-color: #E94FA2; */
  padding: 0;
  margin: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
}

.quotebox {
  margin: 0 auto;
  margin-top: 8rem;
  border: solid 1px white;
  border-radius: 5px;
  max-width: 500px;
  background-color: white;
  padding: 2rem;
  padding-right: 4rem;
}

.buttons {
  min-width: 250px;
  margin-top: 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

button:hover,
.fa-twitter:hover {
  opacity: 0.8;
}

.authorbox {
  display: flex;
  flex-direction: row-reverse;
}

.quotetext {
  font-size: 1.5rem;
}

.fa-twitter {
  font-size: 2rem;
}

.quotetxt {
  display: flex;
  align-items: stretch;
}

.fa-quote-left {
  padding-top: 1.5rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}
